appdirs==1.4.4
application-utility==1.3.2
attrs==20.2.0
beautifulsoup4==4.9.3
Brlapi==0.8.0
btrfsutil==1.2.0
CacheControl==0.12.6
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
evdev==1.3.0
gufw==20.4.0
html5lib==1.1
httplib2==0.18.1
idna==2.10
libvirt-python==6.4.0
louis==3.15.0
lutris==0.5.7.1
lxml==4.6.1
meson==0.56.0
msgpack==1.0.0
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pep517==0.8.2
Pillow==7.2.0
progress==1.5
psutil==5.7.3
pwquality==1.4.4
pycairo==1.20.0
pycurl==7.43.0.6
PyGObject==3.38.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-xlib==0.28
pyxdg==0.26
PyYAML==5.3.1
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
rgw==2.0.0
sip==4.19.24
six==1.15.0
soupsieve==2.0.1
team==1.0
toml==0.10.2
ueberzug==18.1.6
ufw==0.36
urllib3==1.25.10
variety==0.8.4
webencodings==0.5.1
youtube-dl==2020.11.1.1
